---
import Layout from '../layouts/Layout.astro';
import Main from '../components/home/Main.astro';
import Footer from '../components/home/Footer.astro';
---

<Layout>
    <div class="content">
        <Main />
        <Footer />
    </div>
</Layout>
<style>
    .content {
        @apply flex;
    }

    @media (max-width: 992px) {
        .content {
            @apply flex-col;
        }
    }
</style>
