---
import { getCategories } from '../../utils/api.js';
import Supporters from '../Supporters.astro';
import Link from './Link.astro';

type Route = { slug: string; title: string };

const routes: Route[] = await getCategories();
---

<footer class="content">
    <nav class="sections">
        {
            routes.map((route) => (
                <Link href={`/${route.slug}`} color="black">
                    {route.title}
                </Link>
            ))
        }
    </nav>
    <Supporters className="home" />
</footer>

<style>
    .content {
        @apply flex flex-col flex-wrap items-center justify-between gap-4 p-4 bg-gradient-to-tr from-orange-400 to-orange-500 w-[23rem] h-screen;
    }

    .icon {
        @apply text-white h-8 w-8 rounded-full bg-orange-500 flex items-center justify-center relative bottom-2 cursor-pointer;
    }

    .sections {
        @apply flex flex-col items-start mt-20 gap-5;
    }

    @media (max-width: 992px) {
        .content {
            @apply w-full justify-normal h-auto;
        }

        .sections {
            @apply items-center mb-10;
        }
    }
</style>
