---
import { routes } from '../../utils/routes';
import LinkList from '../../components/home/LinkList.astro';
import Supporters from '../Supporters.astro';

const routesUpdate = routes.filter(route => route.slug !== 'quem-somos');

const chunkSize = 3;

const links = Array.from({ length: Math.ceil(routes.length / chunkSize) }, (_, i) =>
routesUpdate.slice(i * chunkSize, (i + 1) * chunkSize).map(({ slug, title }) => [slug, title])
);
---

<footer class="content">
    <nav class="sections">
        {links.map((column, columnIndex) => (
            <LinkList links={column} margin={columnIndex + 1} />
        ))}
    </nav>
    <Supporters className="home" />
</footer>


<style>
    .content {
        @apply flex items-center gap-4 pb-4 bg-gradient-to-tr from-orange-400 to-orange-500 p-4;
    }

    .sections {
        @apply grid self-start mt-6 w-full;
    }

    @media screen and (max-width: 992px) {
        .content {
            @apply flex-col;
        }
    }
</style>
