---
import Logo from '../../components/Logo.astro';
import Link from '../../components/home/Link.astro';

---

<main class="content">
    <Logo className="home"/>
    <Link href="/quem-somos" color="white">Quem somos?</Link>
</main>

<style>
    .content {
        @apply flex flex-col items-start min-h-screen w-full bg-cover;
        background-image: url('/background/background-index-2.png');
    } 
</style>