---
import Logo from '../../components/Logo.astro';
import Link from '../../components/home/Link.astro';

---

<main class="content">
    <Logo className="home"/>
    <Link href="/quem-somos" color="white">Quem somos</Link>
</main>

<style>
    .content {
        @apply flex flex-col items-start h-[100vh] bg-cover;
        background-image: url('/background/background-index.png');
    }
</style>