---
import Image from '../../components/Image.astro';
import Link from '../../components/home/Link.astro';

---

<main class="content">
    <Image className="home"/>
    <Link href="/quem-somos" color="white">Quem somos</Link>
</main>

<style>
    .content {
        @apply flex flex-col items-start h-[120vh] bg-cover;
        background-image: url('/public/background/background-index.png');
    }
</style>