<div class="card">
    <slot />
</div>

<style>
    .card {
        @apply bg-slate-50 rounded-lg shadow-lg p-10 relative mt-4 mb-32;
    }

    .card::before {
        content: '';
        width: 130px;
        height: 100px;
        /* background: url('/background/background-title.svg') no-repeat center; */
        position: absolute;
        top: -1rem;
        left: -2rem;
        z-index: 1;
    }
</style>
