---
const { tamanho } = Astro.props;
---

{
    tamanho === 'h1' && (
        <h1 class="h1">
            <slot />
        </h1>
    )
}
{
    tamanho === 'h2' && (
        <h2 class="h2">
            <slot />
        </h2>
    )
}
{
    tamanho === 'h3' && (
        <h3 class="h3">
            <slot />
        </h3>
    )
}
{
    tamanho === 'h4' && (
        <h4 class="h4">
            <slot />
        </h4>
    )
}

<style>
    .h1 {
        @apply text-xl md:text-2xl font-black text-zinc-800 text-center;
    }

    .h2 {
        @apply text-lg md:text-xl font-extrabold text-zinc-800 text-left;
    }

    .h3 {
        @apply text-base md:text-lg font-bold text-zinc-800 text-left;
    }

    .h4 {
        @apply text-sm md:text-base font-semibold text-zinc-800 text-left;
    }
</style>
