---
const { titulo, texto } = Astro.props;
---

<div class="content">
    <h1 class="title">{titulo}</h1>
    {texto && <p class="text">{texto}</p>}
</div>

<style>
    .content {
        @apply text-center flex flex-col gap-4 mb-10;
    }

    .title {
        @apply text-zinc-800 text-3xl font-bold;
    }

    .text {
        @apply bg-gradient-to-r from-orange-500 to-red-600 bg-clip-text text-lg text-transparent font-serif font-semibold;
    }
</style>
