---
const { src } = Astro.props;
---
<div class="content">
    <video class="video" controls>
        <source src={src} />
    </video>
</div>


<style>
    .content {
        @apply flex items-center justify-center;
    }

    .video {
        @apply rounded md:w-3/4;
    } 
</style>
