---
import Nav from './Nav.astro';

import Logo from '../../components/Logo.astro';
import Supporters from '../Supporters.astro';
import Social from './Social.astro';

const ano = new Date().getFullYear();
---

<footer class="content">
    <div class="container">
        <header class="header">
            <Logo className="footer" />
            <Nav className="footer" />
        </header>

        <footer class="footer">
            <Social />
            <p class="copyright">
                Copyright © {ano}. Todos os direitos reservados.
            </p>
            <Supporters className="geral" />
        </footer>
    </div>

    <style>
        .content {
            @apply bg-gradient-to-tr from-orange-500 to-orange-600 mt-auto p-4;
        }

        .container {
            @apply max-w-[96rem] mx-auto px-24 flex flex-col gap-8;
        }

        .header {
            @apply flex items-center justify-around;
        }

        .footer {
            @apply flex justify-between items-center;
        }

        .copyright {
            @apply text-center text-sm text-slate-50
        }

        @media screen and (max-width: 992px) {
            .container {
                @apply px-16;
            }
        }

        @media screen and (max-width: 768px) {
            .header {
                @apply flex-col gap-6;
            }

            .nav-list {
                @apply flex-col gap-6;
            }
        }

        @media screen and (max-width: 576px) {
            .container {
                @apply px-6;
            }

            .footer {
                @apply flex-col gap-6;
            }
        }
    </style>
</footer>
