---
import Logo from '../../components/Logo.astro';
import Nav from './Nav.astro';
---

<header class="content">
    <div class="container">
        <Logo className="header" />
        <Nav />
    </div>
</header>

<style>
    .content {
        @apply bg-gradient-to-tr from-orange-400 to-orange-500 p-2;
    }

    .container {
        @apply mx-auto flex items-center flex-col gap-8;
    }
</style>
