<main class="main">
    <slot />
</main>

<style>
    .main {
        @apply flex flex-col bg-cover bg-center bg-no-repeat bg-fixed min-h-screen;
        background-image: url('/background/backgorund-geral.jpg');
    }
</style>
