---
import { routes } from '../../utils/routes.js';

const currentPath = Astro.url.pathname;

type Route = {
    slug: string;
    title: string;
};
---
<nav class="nav">
    <ul class="nav-list">
        {
            routes.map(({ slug, title }: Route) => (
                <li>
                    <a
                        class={`nav-link ${currentPath === `/${slug}` ? 'active' : ''}`}
                        href={`/${slug}`}
                    >
                        {title}
                    </a>
                </li>
                <span class="nav-block"></span>
            ))
        }
    </ul>
</nav>

<style>
    .nav-list {
        @apply flex gap-4 flex-wrap items-center justify-center;
    }

    .nav-link {
        @apply text-zinc-800 transition hover:text-slate-50 font-semibold;   
    }

    .nav-link.active {
        @apply text-slate-50;
    }

    .nav-block:not(:last-child) {
        @apply h-2 w-2 bg-red-600 rounded-sm;
    }
</style>
